.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url('../../../images/icon-edit.svg');
  background-size: 10px;
  border: 1px solid #fff;
  grid-area: edit-profile;
  margin: auto;
  margin-right: 20px;
}


@media screen and (max-width: 535px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  } 
}