.popup__save-button_disabled {
  color: rgba(0, 0, 0, 1);
  cursor: default;
  background-color: #e5e5e5;
  border: 1px solid rgba(0, 0, 0, 1);
  opacity: .2;
}

.popup__save-button_disabled:hover {
  opacity: .2;
}
