.profile__user-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-area: descr;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 545px) {
  .profile__user-description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }  
}