.profile {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "avatar user-name edit-button add-button" 
  "avatar descr . add-button";
  grid-template-columns: 150px 312px 1fr 150px;
  grid-template-rows: 72px 1fr;
}