.header {
  margin: 45px auto 0;
  max-width: 880px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    min-height: 56px;
    padding: 27px 0 0 27px;
  }
}