.header {
  padding: 45px 0 41px;
  margin: 0 auto;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 1);;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 980px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 680px) {
  .header {
    width: 320px;
    padding: 28px 27px 30px;
  }
}