.header {
  padding: 45px 0 41px;
  margin: 0 auto;
  max-width: 880px;
  border-bottom: 1px solid #545454;
  position: relative;
}

@media screen and (max-width: 980px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 535px) {
  .header {
    width: 282px;
    padding: 28px 27px 0;
  }
}