.element__card-delete {
  width: 18px;
  height: 19px;
  position: absolute;
  background-image: url('../../../images/trash.svg');
  background-size: 18px 19px;
  border: none;
  background-color: transparent;
  background-position: center;
  top: 20px;
  right: 20px;
  transition: .7s ease;
}

.element__card-delete:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (maxwidth) {
  
}