.element__card-delete {
  position: absolute;
  background-image: url('../../../images/trash.svg');
  width: 18px;
  height: 19px;
  border: none;
  background-color: transparent;
  padding: 0;
  top: 20px;
  right: 20px;
  transition: .7s ease;
}

.element__card-delete:hover {
  opacity: .6;
  cursor: pointer;
}