.element__card-delete {
  position: absolute;
  background-image: url('../../../images/trash.svg');
  width: 18px;
  height: 19px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 20px;
}

