.profile__info {
  display: grid;
  grid-template-areas: "user-name edit-profile" "descr .";
  column-gap: 18px;
  row-gap: 7px;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-areas: "user-name edit-profile" "descr descr";
    margin: 26px auto 36px;
  } 
}