.profile__info {
  display: grid;
  grid-template-areas: "user-name edit-profile" "descr .";
  column-gap: 18px;
  row-gap: 7px;
  align-items: baseline;
  margin: 0;
}

@media screen and (max-width: 860px) {
  .profile__info {
    margin: 25px auto 17px;
    column-gap: 10px;
    width: 282px;
    grid-template-areas: "null user-name edit-profile" "descr descr descr";
    grid-template-columns: 1fr 189px 1fr;
    grid-template-rows: 1fr 1fr;
  }
} 