.element__text {
  width: 282px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  grid-area: text;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}