.element {
  width: 282px;
  min-height: 361px;
  border-radius: 10px;
  background-color: #fff;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr min-content;
  grid-template-areas: "card card" "text like";
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .element {
    flex-direction: column;
  }
}