.element__card-like {
  background-image: url('../../../images/icon_like.svg');
  width: 22px;
  height: 19px;
  border: none;
  margin-right: 18px;
  padding: 0;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .7s ease;
}

.element__card-like:hover {
  opacity: .5;
  cursor: pointer;
}

.element__card-like:active {
  opacity: 1;
  background-image: url('../../../images/icon_like_active.svg');
}
